
html,body{
    height: 100vh;
    width: 100vw;
    font-family: '微軟正黑體';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display:flex;
    justify-content:flex-end;
}

.space-around{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}